<h1 *ngIf="data.editIndex === -1" mat-dialog-title>Create a section</h1>
<h1 *ngIf="data.editIndex > -1" mat-dialog-title>Edit section</h1>
<div mat-dialog-content>
  <label>
    Color:
    <input [disabled]="data.onlyPriceEditable"
      [(colorPicker)]="data.color"
           [style.background]="data.color">
  </label>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input [disabled]="data.onlyPriceEditable" matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="data.price" type="number">
  </mat-form-field>
  <mat-error>{{getErrorMessage()}}</mat-error>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="shouldBeDisabled()" [mat-dialog-close]="data">Ok</button>
</div>
