<h1>Welcome</h1>

<mat-grid-list cols="4" rowHeight="4:5">
  <div *ngFor="let news of news; index as i">
    <mat-grid-tile>
      <mat-card class="news-card">
        <mat-card-header>
          <mat-card-title>{{news.event.name}}</mat-card-title>
          <mat-card-title>{{news.event.category}}</mat-card-title>
          <mat-card-subtitle>{{news.event.startTime.toDateString()}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-md-image src="favicon.ico">
        <mat-card-content>
          {{news.shortDescription}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>

<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ errorMessage }}</strong>
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

