<div class="header">
  <div class="headerButtons">
    <button mat-icon-button
            matTooltip="Your Account">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navigationBar">
  <a class="navbar-brand ml-lg-5" href="">SEPM Group Phase</a>
  <a *ngIf="authService.isLoggedIn()" class="navbar-brand ml-lg-5"  routerLink="/news/add" routerLinkActive="active">AddEvent</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/message" routerLinkActive="active">Message</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/edit" routerLinkActive="active">Edit</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="authService.isLoggedIn() && isAdmin()" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-5">
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/" (click)="authService.logoutUser()">Logout</a>
    </ul>

    <ul class="navbar-nav mr-5" *ngIf="!authService.isLoggedIn()">
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </ul>
  </div>
</nav>
