.navigationBar {
  margin: 3em 0.1em 1em 0.1em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.header {
  //margin-top: 1em;
  display: flex;
}

.headerButtons {
  margin-left: fill;
  right: 0;
  position: absolute;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropbtn {
  color: rgba(255, 255, 255, 0.55);
}

.dropdown:hover .dropdown-content {
  display: block;
}
