.navigationBar {
  margin: 3em 0.1em 1em 0.1em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.header {
  margin-top: 1em;
  display: flex;
}

.headerButtons {
  margin-left: fill;
  right: 0;
  position: absolute;
}
