<div>
    <form [formGroup]="form">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
                <h2>Event</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput required formControlName="name">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
            <mat-form-field>
                <mat-label>Content</mat-label>
                <textarea cdkTestareaAutosize required matInput formControlName="content" cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
            <hr class="line">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
                <h2>Time</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
            <mat-form-field>
                <mat-label>Date and Time</mat-label>
                <input matInput min="today" type="datetime-local" formControlName="dateTime">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Duration (minutes)</mat-label>
                <input matInput required type="number" formControlName="duration">
            </mat-form-field>
        </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
        <button mat-raised-button color="primary" (click)="nextStep()">Create</button>
    </div>
</div>