<div class="modal-body" *ngIf="roomsList !== []">

  <div>

    <div class="form-group">
      <label for="date/time">Date and Time</label>
      <input type="datetime-local" name="date/time" class="form-control" id="date/time"
             aria-describedby="titleHelp" placeholder="Enter Date and Time" [(ngModel)]="searchEvent.dateTime">
    </div>

    <!--div class="form-group">
      <label for="price">Price (+/- 10 euro)</label>
      <input type="number" name="price" class="form-control" id="price"
             aria-describedby="titleHelp" placeholder="Enter Price" [(ngModel)]="searchEvent.price">
    </div-->

    <div class="form-group">
      <label for="event">Event</label>
      <input type="text" name="event" class="form-control" id="event"
             aria-describedby="titleHelp" placeholder="Enter Event" [(ngModel)]="searchEvent.name">
    </div>

    <!--div class="form-group">
      <label for="room">Room</label>
      <select name="room" id="room" [(ngModel)]="searchEvent.roomId">
        <option selected value="">No room</option>
        <option disabled>...........</option>
        <option *ngFor="let room of this.roomsList" value="{{room.id}}">{{room.name}}</option>
      </select>
    </div-->
    <div class="form-group">
      <label for="room">Room</label>
      <input type="text" name="room" class="form-control" id="room"
             aria-describedby="titleHelp" placeholder="Enter Room" [(ngModel)]="searchEvent.name">
    </div>
    <input type="submit" value="Search" (click)="onSubmit()" class="btn-primary">
  </div>
</div>
