<div *ngIf="!isOutside()" [class]="getSeatClass()" (click)="hallplanElementClick()"
     (mouseover)="mouseOverHallplanElement(rowIndex, seatIndex)"
     (mouseout)="mouseOutHallplanElement(rowIndex, seatIndex)">
  <div>
    <span class="exit-text" *ngIf="hallplanElement.type === 'exit'">Exit</span>
    <mat-icon *ngIf="!hallplanElement.added && !isLastTop && !isLastRight && !isLastBottom && !isLastLeft"
              aria-hidden="false">add
    </mat-icon>
    <mat-icon *ngIf="hallplanElement.added && !isLastTop && !isLastRight && !isLastBottom && !isLastLeft"
              aria-hidden="false">remove
    </mat-icon>

    <mat-icon *ngIf="isLastTop && !isLastRight && !isLastLeft" aria-hidden="false" [matTooltip]="getToolTip()">
      arrow_downward
    </mat-icon>
    <mat-icon *ngIf="isLastRight && !isLastBottom && !isLastTop" aria-hidden="false" [matTooltip]="getToolTip()">
      arrow_backward
    </mat-icon>
    <mat-icon *ngIf="isLastBottom && !isLastLeft && !isLastRight" aria-hidden="false" [matTooltip]="getToolTip()">
      arrow_upward
    </mat-icon>
    <mat-icon *ngIf="isLastLeft && !isLastTop && !isLastBottom" aria-hidden="false" [matTooltip]="getToolTip()">
      arrow_forward
    </mat-icon>

    <mat-icon *ngIf="isLastTop && isLastLeft" class="rotate-45deg" [matTooltip]="getToolTip()">arrow_forward</mat-icon>
    <mat-icon *ngIf="isLastTop && isLastRight" class="rotate-45deg" [matTooltip]="getToolTip()">arrow_downward
    </mat-icon>
    <mat-icon *ngIf="isLastBottom && isLastLeft" class="rotate-45deg" [matTooltip]="getToolTip()">arrow_upward
    </mat-icon>
    <mat-icon *ngIf="isLastBottom && isLastRight" class="rotate-45deg" [matTooltip]="getToolTip()">arrow_backward
    </mat-icon>
  </div>
</div>

<div *ngIf="isOutside()" class="hallplan-element-container hallplan-element-placeholder"
     (click)="hallplanElementClick()"
     (mouseover)="mouseOverHallplanElement(rowIndex, seatIndex)"
     (mouseout)="mouseOutHallplanElement(rowIndex, seatIndex)">
  <mat-icon *ngIf="outsideTop && !outsideLeft && !outsideRight" aria-hidden="false">arrow_upward</mat-icon>
  <mat-icon *ngIf="outsideLeft && !outsideTop && !outsideBottom" aria-hidden="false">arrow_backward</mat-icon>
  <mat-icon *ngIf="outsideBottom && !outsideRight && !outsideLeft" aria-hidden="false">arrow_downward</mat-icon>
  <mat-icon *ngIf="outsideRight && !outsideBottom && !outsideTop" aria-hidden="false">arrow_forward</mat-icon>

  <mat-icon *ngIf="outsideTop && outsideLeft" class="rotate-45deg">arrow_backward</mat-icon>
  <mat-icon *ngIf="outsideTop && outsideRight" class="rotate-45deg">arrow_upward</mat-icon>
  <mat-icon *ngIf="outsideBottom && outsideLeft" class="rotate-45deg">arrow_downward
  </mat-icon>
  <mat-icon *ngIf="outsideBottom && outsideRight" class="rotate-45deg">arrow_forward
  </mat-icon>
</div>
