<table class="table table-hover">
  <thead>
  <th>Performance Details</th>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="row-cols-1">
        Name: {{performance.name}}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row-cols-1">
        Start Time: {{performance.startTime}}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row-cols-1">
        Duration: {{performance.duration}}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row-cols-1">
        Artist Name: {{performance.artist.bandName}}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row-cols-1">
        Hall: {{performance.hall.name}}
      </div>
    </td>
  </tr>
  </tbody>
</table>
