<h1 mat-dialog-title>Edit payment information</h1>
<div class="horizontal">
  <mat-card class="card">
    <table class="example-full-width" cellspacing="0">
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="" [formControl]="creditCardNameControl" required>
          <mat-error *ngIf="creditCardNameControl.invalid">{{getErrorMessage(creditCardNameControl)}}</mat-error>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="fill" class="half-control">
          <mat-label>Card Number</mat-label>
          <input matInput placeholder="" [formControl]="creditCardNumberControl" required>
          <mat-error *ngIf="creditCardNumberControl.invalid">{{getErrorMessage(creditCardNumberControl)}}</mat-error>
        </mat-form-field>
      </td>
    </table>
  </mat-card>

  <mat-card class="card">
    <mat-form-field appearance="fill" class="half-control">
      <mat-label>Month</mat-label>
      <input matInput [formControl]="creditCardExperationMonthControl" required>
      <mat-error
        *ngIf="creditCardExperationMonthControl.invalid">{{getErrorMessage(creditCardExperationMonthControl)}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-control">
      <mat-label>Year</mat-label>
      <input matInput [formControl]="creditCardExperationYearControl" required>
      <mat-error
        *ngIf="creditCardExperationYearControl.invalid">{{getErrorMessage(creditCardExperationYearControl)}}</mat-error>
    </mat-form-field>
  </mat-card>

  <mat-card class="card">
    <mat-form-field appearance="fill" class="half-control">
      <mat-label>CSV</mat-label>
      <input matInput placeholder="" [formControl]="creditCardCvvControl" required>
      <mat-error *ngIf="creditCardCvvControl.invalid">{{getErrorMessage(creditCardCvvControl)}}</mat-error>
    </mat-form-field>
  </mat-card>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="save()">Ok</button>
</div>
