<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field appearance="fill" class="big-control">
    <mat-label>Enter your old password</mat-label>
    <input [formControl]="oldPasswordControl" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="oldPasswordControl.invalid">{{getErrorMessage(oldPasswordControl)}}</mat-error>
    </mat-form-field></td>

  <td><mat-form-field appearance="fill" class="big-control">
    <mat-label>Enter your new password</mat-label>
    <input [formControl]="newPasswordControl" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPasswordControl.invalid">{{getErrorMessage(newPasswordControl)}}</mat-error>
  </mat-form-field></td>
  </tr></table>
  <div *ngIf="error" class="alert alert-warning alert-dismissible fade show error-message" role="alert">
    <strong>{{ errorMessage }}</strong>
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()">Ok</button>
</div>
