<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="big-control">
    <mat-label>Enter your password</mat-label>
    <input [formControl]="passwordControl" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage(passwordControl)}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="passwordControl.value" cdkFocusInitial>Ok</button>
</div>
