<div class="container mt-3" *ngIf="error">
  <div class="alert alert-danger" role="alert">
    <h4>Error! {{errorMessage}}</h4>
    <span>Close error window </span>
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="modal-body">

  <div>


    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" name="street" class="form-control" id="street"
             aria-describedby="titleHelp" placeholder="Enter Street" [(ngModel)]="searchAddress.street">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" name="city" class="form-control" id="city"
             aria-describedby="titleHelp" placeholder="Enter City" [(ngModel)]="searchAddress.city">
    </div>

    <div class="form-group">
      <label for="zip">ZIP-Code</label>
      <input type="text" name="zip" class="form-control" id="zip"
             aria-describedby="titleHelp" placeholder="Enter ZIP-Code" [(ngModel)]="searchAddress.zip">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input type="text" name="state" class="form-control" id="state"
             aria-describedby="titleHelp" placeholder="Enter State" [(ngModel)]="searchAddress.state">
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" name="country" class="form-control" id="country"
             aria-describedby="titleHelp" placeholder="Enter Country" [(ngModel)]="searchAddress.country">
    </div>

    <button type="submit" class="button" mat-raised-button color="primary" (click)="onSubmit()">Search</button>
    <div *ngIf="eventLocations.length === 0 && submitted">
      No Locations were found for this search criteria!
    </div>
    <div *ngIf="eventLocations !== []">
      <table class="table table-hover">
        <thead>
        <th>Locations</th>
        </thead>
        <tbody>
        <tr *ngFor="let eventLocation of eventLocations">
          <td>
            <div class="flex">
              <span>Street: {{eventLocation.street}}</span>
              <span>City: {{eventLocation.city}}</span>
              <span>ZIP-Code: {{eventLocation.zip}}</span>
              <span>State: {{eventLocation.state}}</span>
              <span>Country: {{eventLocation.country}}</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

