<div class="modal-body">

  <div class="form-group">
    <label for="artistName">Artist Name</label>
    <input type="text" name="artistName" class="form-control" id="artistName"
           aria-describedby="titleHelp" placeholder="Enter Artist Name" [(ngModel)]="artistName">
  </div>
  <input type="submit" value="Search" (click)="onSubmit()" class="btn-primary">
  <div *ngIf="artistList !== []">
    <table class="table table-hover">
      <thead>
      <th>Artists</th>
      </thead>
      <tbody>
      <tr *ngFor="let artist of artistList">
        <td>
          <div class="flex"><span>Name: {{artist.bandName}}</span>
            <span>Description: {{artist.description}}</span>
            </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
