<mat-card>
  <mat-card-title>Personal Information</mat-card-title>
  <form class="form">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field appearance="fill" class="small-control">
        <mat-select [formControl]="salutationControl">
          <mat-option value="mr">Mr.</mat-option>
          <mat-option value="ms">Ms.</mat-option>
        </mat-select>
        <mat-error *ngIf="salutationControl.invalid">{{getErrorMessage(salutationControl)}}</mat-error>
      </mat-form-field></td>

      <td><mat-form-field appearance="fill">
        <mat-label>first name</mat-label>
        <input matInput placeholder="Max" [formControl]="firstNameControl" required>
        <mat-error *ngIf="firstNameControl.invalid">{{getErrorMessage(firstNameControl)}}</mat-error>
      </mat-form-field></td>

      <td><mat-form-field appearance="fill">
        <mat-label>last name</mat-label>
        <input matInput placeholder="Mustermann" [formControl]="lastNameControl" required>
        <mat-error *ngIf="lastNameControl.invalid">{{getErrorMessage(lastNameControl)}}</mat-error>
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field appearance="fill" class="half-control">
        <mat-label>Email</mat-label>
        <input matInput placeholder="max@mustermann.com" [formControl]="emailControl" required>
        <mat-error *ngIf="emailControl.invalid">{{getErrorMessage(emailControl)}}</mat-error>
      </mat-form-field></td>

      <td><mat-form-field appearance="fill" class="half-control">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" placeholder="0664123456" [formControl]="phoneControl" required>
        <mat-error *ngIf="phoneControl.invalid">{{getErrorMessage(phoneControl)}}</mat-error>
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field appearance="fill" class="full-width">
        <mat-select placeholder="Country" [formControl]="countryControl" required>
          <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="countryControl.invalid">{{getErrorMessage(countryControl)}}</mat-error>
      </mat-form-field></td>

      <td><mat-form-field appearance="fill" class="half-control">
        <mat-label>ZIP</mat-label>
        <input matInput type="tel" placeholder="" [formControl]="zipControl" required>
        <mat-error *ngIf="zipControl.invalid">{{getErrorMessage(zipControl)}}</mat-error>
      </mat-form-field></td>

      <td><mat-form-field appearance="fill" class="half-control">
        <mat-label>City</mat-label>
        <input matInput type="tel" placeholder="" [formControl]="cityControl" required>
        <mat-error *ngIf="cityControl.invalid">{{getErrorMessage(cityControl)}}</mat-error>
      </mat-form-field></td>

      <td><mat-form-field appearance="fill" class="half-control">
        <mat-label>Street</mat-label>
        <input matInput type="tel" placeholder="" [formControl]="streetControl" required>
        <mat-error *ngIf="streetControl.invalid">{{getErrorMessage(streetControl)}}</mat-error>
      </mat-form-field></td>
    </tr>
      <tr>
        <button mat-raised-button (click)="changePassword()">Change Password</button>
      </tr>
    </table>
  </form>
</mat-card>
<br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>credit_card</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      Add credit card information
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card-title> Payment Information</mat-card-title>
  <div class="horizontal">
    <mat-card class="card">
      <mat-card-subtitle>Card Number</mat-card-subtitle>
      <mat-form-field appearance="fill" class="half-control">
        <mat-label>Card Number</mat-label>
        <input matInput placeholder="xxxx-xxxx-xxxx-xxxx" [formControl]="creditCardNumberControl" required>
        <mat-error *ngIf="creditCardNumberControl.invalid">{{getErrorMessage(creditCardNumberControl)}}</mat-error>
      </mat-form-field>
    </mat-card>

    <mat-card class="card">
      <mat-card-subtitle>Expiration date</mat-card-subtitle>
      <mat-form-field appearance="fill" class="half-control">
        <mat-label>Month</mat-label>
        <input matInput [formControl]="creditCardExperationMonthControl" required>
        <mat-error *ngIf="creditCardExperationMonthControl.invalid">{{getErrorMessage(creditCardExperationMonthControl)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-control">
        <mat-label>Year</mat-label>
        <input matInput [formControl]="creditCardExperationYearControl" required>
        <mat-error *ngIf="creditCardExperationYearControl.invalid">{{getErrorMessage(creditCardExperationYearControl)}}</mat-error>
      </mat-form-field>
    </mat-card>

    <mat-card class="card">
      <mat-card-subtitle>CSV</mat-card-subtitle>
      <mat-form-field appearance="fill" class="half-control">
        <mat-label>CSV</mat-label>
        <input matInput placeholder="xxxx-xxxx-xxxx-xxxx" [formControl]="creditCardCsvControl" required>
        <mat-error *ngIf="creditCardCsvControl.invalid">{{getErrorMessage(creditCardCsvControl)}}</mat-error>
      </mat-form-field>
    </mat-card>
  </div>
</mat-expansion-panel>

<button style="margin-top: 50px; align-content: center" (click)="updateUser()" mat-raised-button color="primary">Save</button>

