<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
  <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>There was a problem.</strong> {{errorMessage}}
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<form [formGroup]="form" enctype="multipart/form-data">
  <div class="buttons-div">
    <button mat-raised-button color="warn" (click)="goBack();">Cancel</button>
    <button mat-raised-button color="primary" (click)="save();">Save</button>
  </div>
  <div class="div-content">
    <div fxFill fxFlex="40">
      <div class="images" fxFill #container>
        <ng-image-slider class="slider" [images]="images" [manageImageRatio]=true
          [infinite]="images.length <= 1 ? false : true" [autoSlide]="images.length <= 1 ? 0 : 5"
          [imageSize]="{width: container.style.width, space: 0}" [slideImage]="1" #nav>
        </ng-image-slider>
      </div>
      <div class="images" fxLayoutAlign="center center">
        <button (click)="Image.click()" mat-fab color="primary">
          <mat-icon>add</mat-icon>
          <input class="fileInput" #Image type="file" (change)="handleFileInput($event.target.files)" />
        </button>
      </div>
    </div>
    <div class="div-info">
      <mat-form-field class="example-full-width mat-form-field-desc" appearance="fill">
        <mat-label>Short Description</mat-label>
        <textarea class="shortDescription" matInput rows="6" formControlName="shortDescription"></textarea>
        <mat-error *ngIf="form.controls.shortDescription.invalid">{{getErrorMessage(form.controls.shortDescription)}}
        </mat-error>
      </mat-form-field>
      <div *ngIf="eventNews" class="div-additional-info">
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose Event</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" formControlName="chosenEvent">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let event of events | async" (onSelectionChange)="setChosenEvent(event)"
                [value]="event.name">
                {{event.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>FSK</mat-label>
              <input matInput type="number" formControlName="fsk" MIN="0">
            </mat-form-field>
            <div class="rating">
              <input type="radio" name="rating" id="rating-1" (click)="setRating(5)">
              <label for="rating-1"></label>
              <input class="stars" type="radio" name="rating" id="rating-2" (click)="setRating(4)">
              <label for="rating-2"></label>
              <input class="stars" type="radio" name="rating" id="rating-3" (click)="setRating(3)">
              <label for="rating-3"></label>
              <input class="stars" type="radio" name="rating" id="rating-4" (click)="setRating(2)">
              <label for="rating-4"></label>
              <input class="stars" type="radio" name="rating" id="rating-5" (click)="setRating(1)">
              <label for="rating-5"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-form-field class="example-full-width mat-form-field-desc" appearance="fill">
    <mat-label>Detailed Description</mat-label>
    <textarea matInput rows="15" formControlName="longDescription"></textarea>
    <mat-error *ngIf="form.controls.longDescription.invalid">{{getErrorMessage(form.controls.longDescription)}}
    </mat-error>
  </mat-form-field>
</form>
