<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{errorMessage}}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1>Users</h1>

<div>
<table *ngIf="this.resultList && this.resultList.length > 0" class="table table-striped">
  <thead>
  <tr>
    <th style="text-align: right">
      <div style="margin-left: 50px">
        <div>
        E-Mail
        </div>
        <select id="searchEmail" [(ngModel)]="this.searchEmail" (change)="findUsers()">
          <option value="" selected>All users</option>
          <option *ngFor="let user of this.userList"  value="{{user.email}}">{{user.email}}</option>
        </select>
      </div>
    </th>
    <th style="text-align: right">
      <div style="margin-left: 200px">
        Role
      </div>
    </th>
    <th style="text-align: right">
      <div style="margin-left: 50px">
        Phone (if given)
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of resultList">
    <td style="text-align: right"> {{getEmail(user)}} </td>
    <td style="text-align: right"> {{getRole(user)}} </td>
    <td style="text-align: right"> {{getPhone(user)}} </td>
  </tr>
  </tbody>
</table>
</div>

