<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert"
     xmlns="http://www.w3.org/1999/html">
  <strong>Error! </strong> {{errorMessage}}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1 *ngIf="isAdmin()">Users</h1>

<div *ngIf="isAdmin()">
  <button mat-raised-button color="primary" class="addButton" (click)="addButton()">Add User</button>
  <table *ngIf="this.userList" class="table table-striped">
    <thead>
    <tr>
      <th class="column">
        <mat-form-field class="filter-select" *ngIf="filterToggled">
          <input placeholder="Enter E-Mail Address" matNativeControl (input)="findUsers()" [(ngModel)]="searchEmail">
        </mat-form-field>
        <span *ngIf="!filterToggled"> E-Mail </span>
        <mat-icon *ngIf="!filterToggled" (click)="toggleFilter()">filter_list</mat-icon>
        <mat-icon *ngIf="filterToggled" (click)="toggleFilter()">close</mat-icon>
      </th>

      <th class="column">
        <div style="margin-left: 200px">
          Role
        </div>
      </th>
      <th class="column">
        <div style="margin-left: 50px">
          Phone (if given)
        </div>
      </th>
      <th class="column">
        <div style="margin-left: 50px">
          Set Admin
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList">
      <td class="column"> {{getEmail(user)}} </td>
      <td class="column"> {{getRole(user)}} </td>
      <td class="column"> {{getPhone(user)}} </td>
      <td class="column">
        <mat-slide-toggle *ngIf="!userEquals(user)" (change)="setAdmin(user)"
                          [(ngModel)]="user.admin">
        </mat-slide-toggle>
      </td>
    </tr>
    </tbody>
  </table>
</div>
