<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">-->
  <strong>Authentication problems!</strong> {{ errorMessage }}-->
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">-->
    <span aria-hidden="true">&times;</span>-->
  </button>
</div>

<div class="login-container">
  <video autoplay muted loop class="background-video">
    <source src="assets/video.mp4" type="video/mp4">
  </video>
  <form class="login-form" [formGroup]="loginForm" *ngIf="passwordCounter < 5">
    <span class="title">Log Into Your Account!</span>

    <div>
      <mat-form-field appearance="fill" class="big-control">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="max@mustermann.com" [formControl]="emailControl" required>
        <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="big-control">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div *ngIf="error" class="alert alert-warning alert-dismissible fade show error-message" role="alert">
      <strong>Authentication problems!</strong> {{ errorMessage }}
      <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div>
      <button type="button" mat-button class="forgot-password-button" routerLink="/register">Forgot password? Get reset e-mail!
      </button>
      <button type="button" mat-button class="not-registered-button" routerLink="/register">Not a memeber yet? Join us!</button>
      <button type="button" mat-raised-button color="primary" class="next-button"
              (click)="loginUser()"
              [disabled]="!loginForm.valid">Login
      </button>
    </div>
  </form>

  <form class="login-form" [formGroup]="loginForm" *ngIf="passwordCounter >= 5">
    <span class="title-locked">Your account has been locked!</span>
    <span class="text-locked">
      <div>
        We are sorry!
      </div>
      You have entered the wrong password <strong>5 times in a row</strong>, your account has been locked for security reasons.
      Please contact your administrator for further help!</span>
    <button type="button" mat-raised-button color="primary" class="next-button" routerLink="/register">Register</button>
  </form>
</div>

