<!--<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--  <strong>Authentication problems!</strong> {{ errorMessage }}-->
<!--  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
<!--</div>-->

<div class="register-container">
  <video autoplay muted loop class="background-video">
    <source src="assets/video.mp4" type="video/mp4">
  </video>
  <form class="register-form" [formGroup]="firstPageOptions" *ngIf="!next">
    <span class="title">Join us now!</span>
    <mat-form-field appearance="fill" class="small-control">
      <mat-select [formControl]="salutationControl">
        <mat-option value="mr">Mr.</mat-option>
        <mat-option value="ms">Ms.</mat-option>
      </mat-select>
      <mat-error *ngIf="salutationControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>first name</mat-label>
      <input matInput placeholder="Max" [formControl]="firstNameControl" required>
      <mat-error *ngIf="firstNameControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>last name</mat-label>
      <input matInput placeholder="Mustermann" [formControl]="lastNameControl" required>
      <mat-error *ngIf="lastNameControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-control">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="max@mustermann.com" [formControl]="emailControl" required>
      <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-control">
      <mat-label>Enter your phone</mat-label>
      <input matInput type="tel" placeholder="0664123456" [formControl]="phoneControl" required>
      <mat-error *ngIf="phoneControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="big-control">
      <mat-label>Enter your password</mat-label>
      <input [formControl]="passwordControl" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-checkbox [formControl]="disabledControl">Disabled</mat-checkbox>

    <button mat-button class="sign-in-button" routerLink="/login">Already have an Account?</button>
    <button mat-raised-button color="primary" class="next-button" (click)="goNext()" [disabled]="!firstPageOptions.valid">Next</button>
  </form>

  <form class="register-form" [formGroup]="secondPageOptions" *ngIf="next">
    <span class="title">Where do you live?</span>

    <mat-form-field appearance="fill" class="full-width">
      <mat-select placeholder="Country" [formControl]="countryControl" required>
        <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="countryControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your zip</mat-label>
      <input matInput placeholder="Zip" [formControl]="zipControl" required>
      <mat-error *ngIf="zipControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your city</mat-label>
      <input matInput placeholder="Musterstadt" [formControl]="cityControl" required>
      <mat-error *ngIf="cityControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your street</mat-label>
      <input matInput placeholder="Street" [formControl]="streetControl" required>
      <mat-error *ngIf="streetControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <button mat-button class="sign-in-button" routerLink="/login">Already have an Account?</button>
    <button mat-button class="back-button" *ngIf="next" (click)="goBack()">&lt; Back</button>
    <button mat-raised-button color="primary" class="next-button" [disabled]="!secondPageOptions.valid" (click)="registerUser()">Sign Up</button>
  </form>
</div>

